{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Greenville News Feed</title>
    <link rel = "stylesheet" href ={% static "app/css/bootstrap.css"%}>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
        <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="{% url 'index_view' %}">Home</a></li>
      <li role="presentation"><a href="{%url 'headline_create_view'%}?next=/">headlines for Greenville News</a></li>
      <li role="presentation"><a href="{%url 'postcourier_create_view'%}?next=/">headlines for Post and Courier</a></li>
      <li role="presentation"><a href="{%url 'sports_create_view'%}?next=/">Add Sports News</a></li>
      <li role="presentation"><a href="{%url 'community_create_view'%}?next=/">feed for community publications</a></li>
    </div>
  </nav>
  </head>
  <br>
  <br>
  <br>

  <body>

      {% block content %}

      {% endblock %}

  </body>

</html>
