{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Greenville News Feed</title>
    <link rel = "stylesheet" href ={% static "app/css/bootstrap.css"%}>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
        <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="{% url 'index_view' %}">Home</a></li>
      <li role="presentation"><a href="{%url 'headline_create_view'%}?next=/">Add Headlines</a></li>
      <li role="presentation"><a href="{%url 'local_create_view'%}?next=/">Add Local News</a></li>
      <li role="presentation"><a href="{%url 'sports_create_view'%}?next=/">Add Sports News</a></li>
      <li role="presentation"><a href="{%url 'business_create_view'%}?next=/">Add Business News</a></li>
    </div>
  </nav>
  </head>
  <br>
  <br>
  <br>

  <body>

      {% block content %}

      {% endblock %}

<script src="app/js/bootstrap.js"></script>
  <script>

        function play()
        {
                 var source = document.getElementById('https://s3.amazonaws.com/newsaudiofeed/ad2.mp3');
                 source.src = 'your file location on the server'+ your_file_name;
        }
  </script>

  </body>

</html>
